#_top a {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: var(--sky-deep01b);
    color: var(--sky-pink03);
    padding: 20px 20px;
    text-decoration: none;
    border-top-left-radius: 5px;
    font-size: 20px;
}

#_home a {
    position: fixed;
    left: 0;
    top: 0;
    background-color: var(--sky-deep01b);
    color: var(--sky-pink03);
    padding: 10px 30px;
    text-decoration: none;
    border-bottom-right-radius: 5px;
    font-size: 20px;
}